{% load static %}

{% if messages %}
  <div class="text-center">
    
    {% for message in messages %}
      
        <div class="alert alert-{% if message.tags in 'error' %}danger{% elif message.tags in 'warning' %}warning{% elif message.tags in 'success' %}success{% endif %} alert-dismissible fade show mt-3" role="alert">

            {% if  message.tags in 'error' %}
                <i class="bi bi-hand-thumbs-down-fill"></i>
                {{ message }}
            {% elif message.tags in 'warning' %}
                <i class="bi bi-exclamation-triangle"></i>
                {{ message }}
            {% elif message.tags in 'success' %}
                <i class="bi bi-check-square"></i>
                {{ message }}
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  </div>
  <script>
    // Auto close the alert after 5 seconds
    setTimeout(() => {
      const alertNode = document.querySelector('.alert');
      if (alertNode) {
        const alert = new bootstrap.Alert(alertNode);
        alert.close();
      }
    }, 5000);
  </script>
{% endif %}
