{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="class section mt-5" id="class">
    <div class="container">
         <div class="row mt-5">

                 <div class="col-lg-12 text-center mb-5">
                     <h6 data-aos="fade-up">Jiu-Jitsu</h6>

                     <h2 data-aos="fade-up" data-aos-delay="200">Alunos e Professores</h2>
                  </div>

                 <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                     <div class="class-thumb">
                         <img src="{% static 'images/imagem4.jpeg' %}" class="img-fluid rounded" alt="Class">

                         <div class="class-info">
                             <h3 class="mb-1">Graduação Anual</h3>

                             <span><strong>Treinado por </strong>Alexandre Salgado</span>                                    

                             <p class="mt-3">Graduação 2023</p>
                         </div>
                     </div>
                 </div>

                 <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="500">
                     <div class="class-thumb">
                         <img src="{% static 'images/meninas.jpg' %}" class="img-fluid" alt="Class">

                         <div class="class-info">
                             <h3 class="mb-1">Meninas no Jiu-Jitsu</h3>

                             <span><strong>Treinado por </strong>Ana Carolina</span>                                         

                             <p class="mt-3">Guerreiras no Tatame</p>
                         </div>
                     </div>
                 </div>

                 <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="600">
                     <div class="class-thumb">
                         <img src="{% static 'images/criancas.jpg' %}" class="img-fluid rounded" alt="Class">

                         <div class="class-info">
                             <h3 class="mb-1">Intantil</h3>

                             <span><strong>Treinado por </strong>Alexandre e Ana Carol</span>                                                        

                             <p class="mt-3">Crianças no Tatame</p>
                         </div>
                     </div>
                 </div>
         </div>
    </div>
</section>
{% endblock %}