{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
         <div class="row">

              <div class="ml-auto col-lg-4 col-md-5">
                  <br>
                  <p class="copyright-text">Direito Autoral &copy; 2024 Fabiano Freitas.</p>
              </div>

              <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                  <p class="mr-4">
                      <i class="fa fa-envelope-o mr-1"></i>
                      <br>
                      <a href="#">fabiano.freitas@gmail.com</a>
                  </p>
                  <br>
                  <p>
                      <br>
                      <i class="fa fa-phone mr-1"></i> 55+(21)99407-8286
                  </p>
              </div>
              
         </div>
    </div>
</footer>
{% endblock %}