{% extends 'core/base.html' %}
{% load static %}
{% block content %}


     <!-- HERO -->
     {% include 'hero.html' %}
     <!--END HERO-->

     <!-- ABOUT -->
     {% include 'about.html' %}
     <!--END ABOUT-->

     <!-- CLASS -->
     {% include 'class.html' %}
     
     <!-- SCHEDULE -->
     {% include 'schedule.html' %}

     <!-- CONTACT -->
     {% include 'contact.html' %}

     <!-- FOOTER -->
     {% include 'footer.html' %}

    <!-- MODAL -->
    {% include 'modal.html' %}



{% endblock %}      