{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="schedule section" id="schedule">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-12 col-12 text-center">
          <h6 data-aos="fade-up">Jiu-Jitsu</h6>
  
          <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Horário de Aulas</h2>
        </div>
  
        <div class="col-lg-12 py-5 col-md-12 col-12">
          <table class="table table-bordered table-responsive schedule-table" data-aos="fade-up" data-aos-delay="300">
  
            <thead class="thead-light">
              <th><i class="fa fa-calendar"></i></th>
              <th>Seg</th>
              <th>Ter</th>
              <th>Qua</th>
              <th>Qui</th>
              <th>Sex</th>
            </thead>
  
            <tbody>
              <tr>
                <td><small>7:00</small></td>
                <td><strong>Todos os níveis</strong></td>
                <td><strong>||</strong></td>
                <td><strong>Todos os níveis</strong></td>
                <td><strong>||</strong></td>
                <td><strong>Todos os niveis</strong></td> 
              </tr>

              <tr>
                <td><small>9:30</small></td>
                <td><strong>Competição</strong></td>
                <td><strong>Competição</strong></td>
                <td><strong>Competição</strong></td>
                <td><strong>Competição</strong></td>
                <td><strong>Open mat - Competição</strong></td> 
              </tr>

  
              <tr>
                <td><small>18:00</small></td>
                <td><strong>Iniciante/Avançado</strong></td>
                <td><strong>Iniciante/Avançado</strong></td>
                <td><strong>Iniciante/Avançado</strong></td>
                <td><strong>Iniciante/Avançado</strong></td>
                <td><strong>Open mat</strong></td>
              </tr>
  
              <tr>
                <td><small>19:00</small></td>
                <td><strong>Infanto-juvenil</strong></td>
                <td><strong>Infantil 1/Infantil 2</strong></td>
                <td><strong>Infanto-juvenil</strong></td>
                <td><strong>Infantil 1/Infantil 2</strong></td>
                <td><strong>||</strong></td>
                
              </tr>
  
              <tr>
                <td><small>20:00</small></td>
                <td><strong>Todos os níveis</strong></td>
                <td><strong>Todos os níveis</strong></td>
                <td><strong>Todos os níveis</strong></td>
                <td><strong>Todos os níveis</strong></td>
                <td><strong>||</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </section>

  {% endblock %}